@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.homepage-container {
    max-width: 100vw;
}

.homepage-page-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1.75rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #3B9CDE;
}

.homepage-title {
    font-size: 1.15rem;
    text-decoration: underline;
}

.homepage-blog-img {
    transition: 0.2s all ease-in-out;
}

.homepage-blog-link {
    padding: 0.6rem 1rem;
    background-color: #3B9CDE;
    color: white;
    border-radius: 10px;
    font-size: 0.9rem;
    box-shadow: 0.15rem 0.15rem 0.9rem gray;
}

.current-warnings-title, .current-surface-title, .current-satellite-title, .current-tropical-title {
    font-size: 1.10rem;
}
.current-warnings-img, .current-surface-img, .current-satellite-img, .current-tropical-img {
    margin: auto;
    height: 25vh;
    width: 80vw;
    transition: 0.2s all ease-in-out;
}

.homepage-blog-img:hover,
.current-warnings-img:hover,
.current-surface-img:hover,
.current-satellite-img:hover,
.current-tropical-img:hover {
    transform: scale(1.02);
}

.homepage-blog-header, .homepage-blog-img-container, .homepage-blog-img, .homepage-blog-title, .homepage-blog-author, .homepage-blog-created-at, .homepage-blog-updated-at {
    margin-bottom: 2rem;
}

.homepage-blog-title {
    text-decoration: underline;
}

.homepage-blog-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepage-blog-img {
    max-width: 90vw;
    border: 1px solid gray;
    box-shadow: 0.5rem 0.5rem 0.75rem gray;
}

.home-hr {
    color: gray;
}

.current-imgs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.current-warnings-img, .current-surface-img, .current-satellite-img, .current-tropical-img {
    border: 1px solid gray;
    box-shadow: 0.5rem 0.5rem 0.75rem gray ;
} 

.blog-loading {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

@media screen and (min-width: 475px) {
    .current-warnings-title,
    .current-surface-title,
    .current-satellite-title,
    .current-tropical-title {
        font-size: 1.10rem;
    }
    .current-warnings-img,
    .current-surface-img,
    .current-satellite-img,
    .current-tropical-img,
    .homepage-blog-img {
        margin: auto;
        height: 42.5vh;
        width: 85vw;
    }
}

@media screen and (min-width: 768px) {
    .current-warnings-title,
    .current-surface-title,
    .current-satellite-title,
    .current-tropical-title {
        font-size: 1.15rem;
    }
    .current-warnings-img,
    .current-surface-img,
    .current-satellite-img,
    .current-tropical-img,
    .homepage-blog-img {
        margin: auto;
        height: 45vh;
        width: 60vw;
    }
}

@media screen and (min-width: 992px) {
    .current-warnings-title,
    .current-surface-title,
    .current-satellite-title,
    .current-tropical-title {
        font-size: 1.15rem;
    }
    .current-warnings-img,
    .current-surface-img,
    .current-satellite-img,
    .current-tropical-img,
    .homepage-blog-img {
        margin: auto;
        height: 50vh;
        width: 58vw;
    }
    .current-imgs-container {
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .homepage-blog-container {
        margin: 0;
    }
    .homepage-title {
        font-size: 1.25rem;
    }
    .homepage-blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr;
        max-height: 50vh;
        max-width: 74.6vw;
        gap: 2rem;
        margin: auto;
    }
    .homepage-blog-header {
        margin: auto;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .homepage-blog-img-container {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .homepage-blog-content-container {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        gap: 1rem;
    }
    .homepage-blog-img {
        margin: auto;
        height: 40vh;
        width: 35vw;
        transition: 0.2s all ease-in-out;
    }
    .current-imgs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.25fr 3fr 0.25fr 3fr;
        max-width: 100vw;
    }
    .current-warnings-title {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .current-warnings-img {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .current-surface-title {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .current-surface-img {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .current-satellite-title {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .current-satellite-img {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .current-tropical-title {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .current-tropical-img {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .current-warnings-title,
    .current-surface-title,
    .current-satellite-title,
    .current-tropical-title {
        font-size: 1.20rem;
        margin: auto;
    }
    .current-warnings-img,
    .current-surface-img,
    .current-satellite-img,
    .current-tropical-img {
        margin: auto;
        height: 50vh;
        width: 40vw;
    }
}