.homepage-container {
    max-width: 100vw;
}

.homepage-page-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #3B9CDE;
}

.homepage-title {
    font-size: 1.15rem;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .homepage-title {
        font-size: 1.15rem;
    }
    .current-warnings-title {
        font-size: 1.10rem;
    }
    .current-warnings-img {
        margin: auto;
        height: 25rem;
        width: 40rem;
    }
    .current-surface-title {
        font-size: 1.10rem;
    }
    .current-surface-img {
        margin: auto;
        height: 25rem;
        width: 40rem;
    }
    .current-satellite-title {
        font-size: 1.10rem;
    }
    .current-satellite-img {
        margin: auto;
        height: 25rem;
        width: 40rem;
    }
}

@media screen and (min-width: 992px) {
    .homepage-title {
        font-size: 1.15rem;
    }
    .current-warnings-title {
        font-size: 1.10rem;
    }
    .current-warnings-img {
        margin: auto;
        height: 30rem;
        width: 45rem;
    }
    .current-surface-title {
        font-size: 1.10rem;
    }
    .current-surface-img {
        margin: auto;
        height: 30rem;
        width: 45rem;
    }
    .current-satellite-title {
        font-size: 1.10rem;
    }
    .current-satellite-img {
        margin: auto;
        height: 30rem;
        width: 45rem;
    }
}

@media screen and (min-width: 1200px) {
    .homepage-title {
        font-size: 1.25rem;
    }
    .current-warnings-title {
        font-size: 1.20rem;
    }
    .current-warnings-img {
        margin: auto;
        height: 35rem;
        width: 50rem;
    }
    .current-surface-title {
        font-size: 1.20rem;
    }
    .current-surface-img {
        margin: auto;
        height: 35rem;
        width: 50rem;
    }
    .current-satellite-title {
        font-size: 1.20rem;
    }
    .current-satellite-img {
        margin: auto;
        height: 35rem;
        width: 50rem;
    }
}