@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.satellite-imagery-container {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3B9CDE;
    font-size: 1.15rem;
    font-family: 'Playfair Display', serif;
}