@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.contact-container {
    font-family: 'Playfair Display', serif;
}
.about-me-container {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.15rem;
    gap: 1rem;
}
.about-me-title {
    color: #3B9CDE;
    border-bottom: 1px solid #3B9CDE;
    width: 5rem;
    font-size: 1.15rem;
}
.about-me-content {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    color: #3B9CDE;
    line-height: 2;
}
.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.contact-title {
    color: #3B9CDE;
    border-bottom: 1px solid #3B9CDE;
    width: 6rem;
    font-size: 1.15rem;
}
.first-name-form, .last-name-form, .email-form, .message-form {
    border: none;
    border-bottom: 1px solid #3B9CDE;
    height: 2.25rem;
    width: 16rem;
    font-size: 1.15rem;
    font-family: 'Playfair Display', serif;
    color: #3B9CDE;
}
.first-name-form:focus, .last-name-form:focus, .email-form:focus, .message-form:focus {
    outline: none;
}
.first-name-form::placeholder, .last-name-form::placeholder, .email-form::placeholder, .message-form::placeholder {
    color: #3B9CDE;
}
.contact-me-btn {
    border: none;
    height: 2.25rem;
    width: 9rem;
    border-radius: 5%/12.5%;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    background-image: linear-gradient(#38B6FF, #3e78b2);
}

@media screen and (min-width: 768px) {
    .about-me-container {
        gap: 2rem;
    }
    .about-me-content {
        font-size: 1.15rem;
    }
}
@media screen and (min-width: 992px) {
    .about-me-content {
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 1200px) {
    .contact-form-container {
        gap: 2rem;
    }
    .first-name-form, .last-name-form, .email-form, .message-form {
        width: 20rem;
    }
}