@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.reset-form-title {
    color: #3B9CDE;
    font-size: 1.15rem;
    border-bottom: none;
    width: 10rem;
}
