@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.reset-form-title {
    color: #3B9CDE;
    font-size: 1.15rem;
    border-bottom: none;
    width: 10rem;
}

.form-sign-in-btn {
    border: none;
    height: 2.25rem;
    width: 9rem;
    border-radius: 5%/12.5%;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    background-image: linear-gradient(#38B6FF, #3e78b2);
}