@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.password-confirm-container {
    max-height: 100vh;
    width: 100vw;
    font-family: 'Playfair Display', serif;
}

.password-confirm-form-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.form-password {
    border: none;
    border-bottom: 1px solid #3B9CDE;
    height: 2.25rem;
    width: 16rem;
    font-size: 1.15rem;
    font-family: 'Playfair Display', serif;
    color: #3B9CDE;
}

.form-password-confirm-btn {
    border: none;
    height: 2.25rem;
    width: 9rem;
    border-radius: 5%/12.5%;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    background-image: linear-gradient(#38B6FF, #3e78b2);
}